:host {
	align-items: center;
	flex-direction: row;
	box-sizing: border-box;
	display: flex;

	.icon {
		line-height: 24px;
		margin-right: 16px;
		width: 24px!important;
    	height: 24px!important;
	}
}