.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	background-color: #FFF;
	overflow-x: hidden;
	transition: 0.5s;

	&.open {
		width: 300px;
	}

	.mat-expansion-panel {
		box-shadow: none;
	}

	.mat-expansion-panel-header[aria-disabled='true'] {
		color: initial;
	}

	.mat-expansion-panel-header {
		padding: 0 16px 0 16px!important;
		font-weight: 500;

		&.no-padding {
			padding: 0!important;
		}
	}

	.mat-list-item {
		place-content: center flex-start;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
	}

	/deep/ .mat-expansion-panel-body {
		padding-left: 0;
    	padding-right: 0;
	}
}

:host /deep/ {
	.mat-list-item-content {
		height: initial!important;
		padding: 0!important;
		width: 100%;
	}

	cdl-menu-btn,
	cdl-menu-btn > a {
		width: 100%;
	}

	cdl-menu-btn-inner {
		align-items: center;
		justify-content: start;
	}
} 



// mat-icon {
// 	padding-left: 24px;
// }

// mat-list-item {
// 	color: #627180!important;
// }

// mat-list a.mat-button {
// 	width: 100%;
// 	text-align: left;
// }

// :host /deep/ .mat-expansion-panel-body {
// 	margin: 0!important;
// }

// .mat-expansion-panel-header {
// 	padding-left: 0px!important;
// 	// height: initial!important;
// }

// .mat-expansion-panel {
// 	background: none!important;
// 	box-shadow: none!important;
// }

// mat-panel-title {
// 	margin-right: 0px;
// }

// mat-accordion:not(.expanded) {
	
// 	mat-icon {
// 		margin: auto;
// 		padding-left: 0px;
// 	}

// 	.mat-expansion-panel-header {
// 		padding: 0px!important;
// 	}
// }