<button mat-menu-item [matMenuTriggerFor]="menu" *ngIf="isNested">
	<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
</button>

<button mat-button [matMenuTriggerFor]="menu" *ngIf="!isNested">
	<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
</button>

<mat-menu #menu="matMenu" [overlapTrigger]="true" class="tester">
	<cdl-menu-dropdown-item [item]="i" *ngFor="let i of item.items"></cdl-menu-dropdown-item>
</mat-menu>