.sidenav-inner {

	.mat-expansion-panel {
		box-shadow: none;
	}

	.mat-expansion-panel-header[aria-disabled='true'] {
		color: initial;
	}

	.mat-expansion-panel-header {
		padding: 0 16px 0 16px!important;
		font-weight: 500;

		&.no-padding {
			padding: 0!important;
		}
	}

	.mat-list-item {
		place-content: center flex-start;
		align-items: center;
		flex-direction: row;
		box-sizing: border-box;
		display: flex;
	}

	/deep/ .mat-expansion-panel-body {
		padding-left: 0;
    	padding-right: 0;
	}
}

:host /deep/ {
	.mat-list-item-content {
		height: initial!important;
		padding: 0!important;
		width: 100%;
	}

	cdl-menu-btn,
	cdl-menu-btn > a {
		width: 100%;
	}

	cdl-menu-btn-inner {
		align-items: center;
		justify-content: start;
	}
} 