<mat-accordion displayMode="flat" class="sidenav-inner">

	<mat-expansion-panel [disabled]="!item.items" [expanded]="isExpanded(index)" *ngFor="let item of items; let index = index;">

		<mat-expansion-panel-header [class.no-padding]="!item.items">
			<mat-panel-title *ngIf="item.items">{{ item.label }}</mat-panel-title>
			<cdl-menu-btn *ngIf="!item.items" [item]="item"></cdl-menu-btn>
		</mat-expansion-panel-header>

		<mat-list dense *ngIf="item.items">
			<mat-list-item *ngFor="let link of item.items">
				<cdl-menu-btn [item]="link"></cdl-menu-btn>
			</mat-list-item>
		</mat-list>
	
	</mat-expansion-panel>

</mat-accordion>