<button mat-icon-button [matMenuTriggerFor]="mobileMenu">
	<mat-icon>menu</mat-icon>
</button>

<mat-menu #mobileMenu="matMenu" [overlapTrigger]="false">
	<cdl-menu-dropdown-item [item]="item" *ngFor="let item of items"></cdl-menu-dropdown-item>
</mat-menu>