<ng-container *ngFor="let item of items">
	<cdl-menu-btn *ngIf="!item.items" [item]="item"></cdl-menu-btn>
	<cdl-menu-dropdown *ngIf="item.items" [item]="item"></cdl-menu-dropdown>
</ng-container>
	
		