<ng-container *ngIf="!isDropdown">

	<a mat-button [routerLink]="action.url" *ngIf="isInternalLink" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</a>

	<a mat-button [href]="action.url" *ngIf="isExternalLink" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</a>

	<button mat-button (click)="triggerFunction(action)" *ngIf="isTriggerFunction" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</button>

	<button mat-button (click)="onEmitValue(action)" *ngIf="isEmitValue" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</button>

</ng-container>

<ng-container *ngIf="isDropdown">

	<a mat-menu-item [routerLink]="action.url" *ngIf="isInternalLink" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</a>

	<a mat-menu-item [href]="action.url" *ngIf="isExternalLink" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</a>

	<button mat-menu-item (click)="triggerFunction(action)" *ngIf="isTriggerFunction" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</button>

	<button mat-menu-item (click)="onEmitValue(action)" *ngIf="isEmitValue" title="item.label">
		<cdl-menu-btn-inner [item]="item"></cdl-menu-btn-inner>
	</button>

</ng-container>